@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
h1 {
  font-family: "New Tegomin", serif;
}
form {
  position: relative;
  bottom: -30px;
  max-width: 550px;
  margin: 0 auto;
}
.weather-app {
   border:2px solid #000;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    top: 20px;
    max-width: 100%;
}

ul,
li {
  list-style: none;
}
.button {
  color: #fff;
  padding: 10px 20px;
  margin-top: 5px;
  background: rgb(69, 160, 17);
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: 5px 4px 18px #000;
  position: relative;
  left: 65px;
  transition: all 200ms ease;
  cursor: pointer;
}
.button:hover {
  color: #fff;
  background: rgb(3, 83, 3);
}
col-3 {
  margin-top: 20px;
  position: relative;
  top: -20px;
}
.Weather {
    background: linear-gradient(to top, rgb(251, 194, 235) 0%, rgb(166, 193, 238) 100%);
   max-width: auto;
  
}
.currentLocation {
  position: relative;
  left: -95px;
  color: #fff;
  padding: 10px 12px;
  margin-top: 5px;
  background: rgb(136, 94, 192);
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: 5px 4px 18px #000;
  transition: all 200ms ease;
  cursor: pointer;
}
.currentLocation:hover {
  color: #fff;
  background: rgb(27, 3, 66);
}
h2{
position: relative;
left: 50px;
}
@media(min-width-576px){
    .Weather{
        background: linear-gradient(to top, rgb(251, 194, 235) 0%, rgb(166, 193, 238) 100%);
 
  max-width: 100%;   
    }
}